#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. MatPlotLib
4. Seaborn
5. Scitkit-learn
6. Keras
7. TensorFlow
8. Pytorch
9. Vegas
10. BigDL
11. ggplot2

| Data Science Tools |
| ------------------ |
| Jupyter notebook |
| JupyterLab |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Python
- R
- SQL

## Author
Sreekumar